/nbproject/private/
/NetArticlesJ2EE-ejb/nbproject/private/
/NetArticlesJ2EE-war/nbproject/private/
/NetArticlesJ2EE-ejb/build/
/NetArticlesJ2EE-ejb/dist/
/NetArticlesJ2EE-war/build/
/build/
/NetArticlesJ2EE-war/dist/